{% extends 'base.html.twig' %}

{% block body %}

    <body style="background-color:rgb(42, 192, 255);">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div class="jumbotron text-center" style="background-color:DodgerBlue;">
    {{ form(form) }}
    </div>
    </body>

{% endblock %}